@media (min-width: 1920px) {
  .full-screen {
    width: 50vw;
    margin-left: 50%;
  }
  .full-screen > div {
    width: 100vw;
    margin-left: -100%;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: "Montserrat-Bold";
  /* font-size: 1.5rem; */
  line-height: 30px;
  color: #1f2041;
}

h2 {
  font-family: "Montserrat-Bold";
  /* font-size: 0.75rem; */
  line-height: 24px;
  color: #1f2041;
}

h3 {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 700;
  /* font-size: 0.75rem; */
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  box-sizing: border-box;
  margin: 0px auto;
  background-size: 100%;
}

body p,
body a {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

body {
  background: #e5e5e5;
}

.logo {
  margin-left: 30px;
}

header,
footer {
  background: #fff;
  margin-top: 60px;
  padding-top: 15px;
  padding-left: 140px;
  padding-bottom: 15px;
  box-shadow: 0.4em 0.4em 20px rgba(31, 32, 65, 0.05);
}

.header {
  display: flex;
  align-items: center;
}

.header img {
  width: 105.69px;
}

.menu__list {
  display: flex;
  padding-left: 280px;
}

.menu li a {
  font-size: 14px;
  /* color: rgba(31, 32, 65, 0.5); */
}

.menu li {
  margin-right: 40px;
}

.about {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}

.btn {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #bc9cff;
  border-radius: 22px;
  border: 3px solid;
  border-image: linear-gradient(#bc9cff, #8ba4f9);
  border-image-slice: 1;
  padding: 8px 22px;
  margin-left: 15px;
}
