extends header.pug

block user-login
    .login-desk
        .vl
        a.user-name(href="#") Юлий Цезарь
    .login-mobile
        a.user-name(href="#") Юлий Цезарь
        .vl-mobile
        +burger-menu