footer { flex: 0 0 auto; }

#footer {
    background-color: #fff;
}

.footer-block {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    color: $text-color;
}

.footer__description {
    flex-grow: 1;
    flex-basis: calc(100% / 5);
    flex-wrap: wrap;
    flex-shrink: 2;
    padding-right: 40px;
}

.footer__navigation {
    display: flex;
    flex-grow: 2;
}

.footer__navigation-item {
    flex-grow: 1;
    // flex-basis: 1;
    width: calc(100% / 3);
}

.footer__navigation-header {
    margin-bottom: 20px;
}

.footer__menu-item {
    // line-height: 1.0668rem;
    margin-bottom: 20px;
}

.footer__subscribe-block {
    flex-grow: 1;
    flex-wrap: wrap;
    flex-shrink: 2;
    flex-basis: calc(100% / 5);
    padding-left: 40px;
}

.footer__description-content {
    margin-top: 20px;
}

.footer__subscribe-content {
    margin-bottom: 20px;
}

#footer hr {
    border: 1px solid #fff;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    background: #FFFFFF;
}