button {
  font-family: $regular;
  font-weight: bold;
  font-style: normal;
  font-size: 0.75rem;
  border-radius: 22px;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

#white-btn {
  padding: 6px 18px;
  position: relative;
  box-sizing: border-box;
  $border: 3px;
  color: $primary-color;
  background: #fff;
  background-clip: padding-box;
  border: solid $border transparent;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(#bc9cff, #8ba4f9);
    // border-color: #fff;
  }
}

#gradient-btn {
  color: #fff;
  background-image: linear-gradient(#bc9cff, #8ba4f9);
  border: none;
  // border: 2px solid;
  padding: 9px 20px;
}