#header {
  box-shadow: $shadow;
}

.header-block {
  margin: 15px 0;
}
.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .logo-link {
  flex-shrink: 0;
  flex-grow: 1;
}

.header__menu {
  margin-right: 25px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  color: $light-tc;
}

.menu-link-accent {
  color: $text-color;
  font-weight: bold;
}

.header__menu-item {
  padding-right: 20px;
}

.header__menu-item:last-child {
  padding-right: 0;
}

.header__menu-link .material-icons {
  @extend %material-icons;
}
