mixin subscribtion-form 
    form.email__subscribe-form(action="#" name="email-form" method="post")
        input.email__input(type="text" name="email" placeholder="Email")
        input.email__icon-submit(type="submit" id="before" name="submitBtn" value="")
        label.email__icon-label(for="before" type="submit")
            i.email__icon.material-icons arrow_forward