- var about = {name : 'О нас', href: '/about'}
- var services = {name : 'Услуги', href: '/services'}
- var career = {name : 'Вакансии', href: '/career'}
- var news = {name : 'Новости', href: '/news'}
- var conventions = {name : 'Соглашения', href: '/conventions'}

- var support = {name : 'Служба поддержки', href: '/support'}
- var about_service = {name : 'О сервисе', href: '/about_service'}
- var team = {name : 'Наша команда', href: '/team'}
- var investors = {name : 'Инвесторы', href: '/investors'}
- var community = {name : 'Сообщества', href: '/community'}
- var contact = {name : 'Связь с нами', href: '/contact'}