.email__input {
  border-color: $super-light-tc;
  border-radius: 4px;
  border-width: 1px;
  vertical-align: middle;
  height: 44px;
  width: 95%;
  font-family: $regular;
  color: $text-color;
  font-size: 0.875rem;
  padding-left: 15px; 
}
.email__input::placeholder {
  font-family: $regular;
  color: $super-light-tc;
  font-size: 0.875rem;
}

.email__icon-submit {
    position: absolute;
    margin-left: -40px;
    width: 25px;
    height: 44px;
    border: none;
    background-color: transparent;   
}

.email__icon-label:hover {
    cursor: pointer;
}

.email__icon-label {
    position: relative;
    z-index: 1;
    margin-left: -40px;
}

.email__icon {
  @extend %material-icons;
  color: $primary-color;
}
