.container.clear-fix        
        #copyright-block
            p.copyright__content Copyright © 2018 Toxin отель. Все права зачищены.
            .social__block
                p
                    a.social-icons-link(href="https://twitter.com/")
                        i.social-icons.fa.fa-twitter
                    a.social-icons-link(href="https://facebook.com/")
                        i.social-icons.fa.fa-facebook-square
                    a.social-icons-link(href="https://instagram.com/")
                        i.social-icons.fa.fa-instagram

            