.container.clear-fix        
        #copyright-block
            p.copyright__content Copyright © 2018 Toxin отель. Все права зачищены.
            .social__block
                p
                    +social-icons
            